.navbar-admin {
  background-color: #3B3F51;

  .container-fluid {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.navbar-public {
  background-color: #FFFFFF;
  border-color: transparent;
  font-weight: 100;

  .container-fluid {
    padding-left: 30px;
    padding-right: 30px;
  }

  .navbar-brand {
    color: #333333;
  }

  .navbar-nav > li > a {
    color: #333333;
  }
}

.footer-handler {
  min-height: 100%;
  margin: 0px auto -112px;
  padding-bottom: 112px;
  height: auto;
}

.footer {
  height: 112px;
  background-color: #3A3938;
  padding: 20px 0px;
  font-size: 12px;
  text-align: center;
  color: rgb(102, 102, 102);
}
